:root {
    --animation-play-state: running;
}

.screen {
    --bg: cyan;
    //background-color: var(--bg); // fpo
    display: grid;
    grid-template-columns: 1fr;

    &.paused {
        --bg: chartreuse;
        --animation-play-state: paused;
    }
}