.screen {
    --bg: cyan;
    //background-color: var(--bg); // fpo
    display: grid;
    grid-template-columns: 1fr;

    &.play {
        --bg: chartreuse;
        --boxtitle-state: running;
    }
}